openapi: 3.0.3

info:
  title: Cycas API
  version: 0.0.1

servers:
  - url: http://localhost:8000

security:
  - bearerAuth: []

paths:
  /v1/ping:
    get:
      operationId: ping
      responses:
        "200":
          description: Ping recieved
          content:
            text/plain:
              schema:
                type: string
                example: Hello, World!

  /v1/categories:
    post:
      operationId: createCategory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  minLength: 3
                  maxLength: 32
                  pattern: "^[a-z](?:[a-z -]{1,30}[a-z])?$"

      responses:
        "201":
          description: Category created
          content:
            application/json:
              schema:
                type: object
                required:
                  - name
                  - id
                properties:
                  name:
                    type: string
                  id:
                    type: string

        "409":
          description: Category with name already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
